# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./db.sqlite"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
SINGLESTORE_USER="t3-drv-netlify-deployment"
SINGLESTORE_PASS="notapassword"
SINGLESTORE_HOST="something.singlestore.com"
SINGLESTORE_PORT=3333
SINGLESTORE_DB_NAME="T3_DRV_DB"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b3Blbi1qb2V5LTg5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_sxLCMiGuWcM7rMqAVskTheEFKGoyxGdWNOdBSRg64I

UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzM2YWE4NjNhYzM5MWI0ZDJmNjQzODlkODQ3MDRjMDg3Y2VjZTE2MWI4ZjE1YzljMzNmZmQ1NDBiNzkwNzkwNjUiLCJhcHBJZCI6IjFhaWZ5cDJuZjkiLCJyZWdpb25zIjpbInNlYTEiXX0='